ion-app {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
ion-card-title {
  text-align: center;
  font-weight: bold;
  font-size:30px;
}
ion-card-content {
  width: 350px;
}

#result {
  font-size:24px;
  font-weight: bold;
}
#clearAll {
  width: 150px;
}
#del {
  width: 100px;
  text-transform: initial;
}
#division {
  width: 75px;
}
#multiplication {
  width: 75px;
}
#minus {
  width: 75px;
}
#addition {
  width: 75px;
}
.number {
  width: 80px;
  --background: var(--ion-color-medium);
}
#dot {
   width: 75px;
}
#equal {
  width: 150px;
}
