<ion-app>
  <ion-card>
  <ion-card-header>    
    <ion-card-title>CALCULATOR</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="stacked" >Input</ion-label>
      <ion-input>{{input}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >Result</ion-label>
      <ion-input id="result">{{result}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-button id="clearAll" size="large" color="warning" (click)="clearAll()">C</ion-button>
      <ion-button id="del" size="large" color="danger" (click)="delete()">del</ion-button>
      <ion-button id="division" size="large" color="secondary" (click)="pressOperator('/')">/</ion-button>
    </ion-item>
    <ion-item>
      <ion-button class="number" size="large" (click)="pressNum('7')">7</ion-button>
      <ion-button class="number" size="large" (click)="pressNum('8')">8</ion-button>
      <ion-button class="number" size="large" (click)="pressNum('9')">9</ion-button>
      <ion-button id="multiplication" size="large" color="secondary"  (click)="pressOperator('*')">X</ion-button>
    </ion-item>
    <ion-item>
      <ion-button class="number" size="large" (click)="pressNum('4')">4</ion-button>
      <ion-button class="number" size="large" (click)="pressNum('5')">5</ion-button>
      <ion-button class="number" size="large" (click)="pressNum('6')">6</ion-button>
      <ion-button id="minus" size="large" color="secondary" (click)="pressOperator('-')">-</ion-button>
    </ion-item>
    <ion-item>
      <ion-button class="number" size="large" (click)="pressNum('1')">1</ion-button>
      <ion-button class="number" size="large" (click)="pressNum('2')">2</ion-button>
      <ion-button class="number" size="large" (click)="pressNum('3')">3</ion-button>
      <ion-button id="addition" size="large" color="secondary" (click)="pressOperator('+')">+</ion-button>
    </ion-item>
    <ion-item>
      <ion-button id="dot" size="large" color="medium"(click)="pressNum('.')">.</ion-button>
      <ion-button class="number" id="zero" size="large" (click)="pressNum('0')">0</ion-button>
      <ion-button id="equal" size="large" color="success" (click)="getAnswer()">=</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-app>